extend layout

block content
    if walls
        h1 Here are all the walls Fans have created:
        p Total number #{walls.length}     
        ul
            each w in walls
                li= w.name 
                p wall id 
                li= w.id
                p by
                li= w.fan
                 
    else
        h1 #{wall.name}
        p created by #{wall.fan.name}
        p events on this wall: 
        each e in wall.events
            p #{e.name}
